<app-header titulo="Grid Row"></app-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]" size="12" size-lg="3" size-md="4" size-sm="6">
        <ion-card>
          <ion-img src="/assets/img/monica.png"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non rem quibusdam voluptas tenetur expedita dolore iure? Suscipit, aperiam voluptate, doloremque maxime debitis molestias deleniti fugit, quis vitae pariatur quam veritatis.  
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
