<ion-header no-border>
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>

      <ion-title>Avatar</ion-title>

      <ion-buttons slot="end">
        <ion-avatar>
            <img src="assets/img/monica.png" />
        </ion-avatar>
      </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-chip color="primary">
        <ion-avatar>
            <img src="assets/img/monica.png" />
        </ion-avatar>
        <ion-label>Monica</ion-label>
    </ion-chip>

    <ion-chip color="secondary" outline="true">
        <ion-avatar>
            <img src="assets/img/margot.png" />
        </ion-avatar>
        <ion-label>Margot</ion-label>
    </ion-chip>

    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img src="assets/img/margot.png" />
            </ion-avatar>
            <ion-label>Margot Robbie</ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img src="assets/img/monica.png" />
            </ion-avatar>
            <ion-label>Monica Belucci</ion-label>
        </ion-item>
    </ion-list>

</ion-content>
